*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

li{
    list-style: none;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Inter', 'Roboto', sans-serif;
}


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 24px;
}
.brand-logo-desktop{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
}

.header-container a{
    font-weight: 700;
    color: black;
}
    
.brand-logo-desktop span{
    color: grey;
}

.desktop-nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

@media only screen and (max-width: 600px){
    
    .header-container{
        display: flex;
        height: 64px;
    }


    .header-container .brand-logo-desktop{
        display: none;
    } 
    
    .header-container .brand-logo-mob{
        display: inherit;
    } 

    .header-container .desktop-nav{
        display: none;
    }

    .mob-nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        column-gap: 60px;
    }
    .mob-nav  li{
        
    }

}

@media only screen and (min-width:600px){
    .header-container .mob-nav{
        display: none;
    }
}



.banner{
    background-color: #f1f3f5;
    
}

.banner-container {
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
    column-gap: 2rem;
    padding: 2rem 1.8rem;
}

.banner-container .image{
    
    
}
.banner-container .image img{
    width: 100%;
    
}

.banner-container .text h1{
    font-family: 'Roboto';
    color: #212529;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
}

.banner-container .text p{
    margin: 1.5rem 0;
    font-weight: 600;
    font-size: 2rem;
}

.banner-container .text a{
    display: inline-block;
    background-color: #1c7ed6;
    padding: 10px 30px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width:600px){
    .banner-container {
        display: block;
        max-width: 100%;
        padding: 0;
        width: 100%;
    }

    .banner-container .image{
        max-width: 400px;
        height: 50%;
    }

    .banner .banner-container .text{
        padding: 1rem;
        text-align: justify;
    }



    .banner .banner-container h1{
        font-size: 2rem;
        
    }

    .banner .banner-container p{
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }

    .banner .banner-container .text .start-btn{
        padding: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.infromation-list .information-container{
    display: grid;
    grid-template-columns: 60% auto;
    column-gap: 2rem;
    padding: 2rem 1.8rem;
}

.information-container .single-image img{
    width: 100%;
    margin-bottom: 2rem;
}

.information-container .single-image p{
    margin: 24px 0;
}

.information-container .multiple-image{
    background-color: #f1f3f5;
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    align-self: start;
    gap: 1rem;
    padding: 16px;
    border-top: 5px solid #1c7ed6;
    border-bottom: 5px solid #1c7ed6;
    
}

.information-container .multiple-image .image img{
    width: 100%;
    margin-top: 10px;
}
.information-container .multiple-image .text-list{
    margin-top: 10px;
    
}
.information-container .multiple-image .text-list p{
    margin: 8px 0;
}

@media only screen and (max-width: 600px){
    
    
    /* .infromation-list .information-container {
        display: block;
        width: 100%;
    }

    .information-container .single-image{
        display: none;
    }

    .information-container .multiple-image{
        display: block;
        width: 100%;
        max-width: 100%;
        
    }

    

    .information-container .multiple-image .image{
        width: 100%;
        display: block;
    } */



}

@media only screen and (max-width: 600px){
    .information-list-mob{
        display: block;
        max-width: 100%;

    }

    .information-list-mob .mob-container .inform-list{
        padding: 1rem;
    }

    

    .information-list-mob .mob-container .inform-list img{
        width: 100%;
        margin-bottom: .8rem;
    }

    .information-list-mob .mob-container .inform-list .text-list{
        padding: 1rem;
    }

    .information-list-mob .mob-container .inform-list .text-list p{
        margin: 1rem 0;
    }
}

@media  only screen and (max-width:600px) {
    .infromation-list{
        display: none;
    }
}

@media only screen and (min-width:600px){
    .information-list-mob{
        display: none;
    }
}

.card-feature{
    padding: 62px 72px;
    background-color: #f1f3f5;
}


.card-feature-container h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 32px;
}

.courses{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.cards{
    background-color: #fff;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.courses img{
    width: 100%;
    height: auto;
}

.courses .text{
    padding: 1rem;
}

.courses .text p{
    margin: 8px 0;
}

@media only screen and (max-width: 600px){
    .card-feature{
        padding: 1rem;
    }
    .courses{
        display: block;
        width: 100%;
        padding: 0;
    }

    .courses .cards{
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }

}

.online{
    padding: 62px 24px;
}


.online-container h2{
    text-align: center;
    margin-bottom: 2rem;
}


.online-grid{
    display: grid;
    grid-template-columns: 60% auto;
    column-gap: 2rem;
    height: 100%;
}

.online-grid .single-image iframe{
    width: 100%;
    height: 400px;
    margin-bottom: 24px;
}

.online-grid .multiple-image{
    background-color: #f1f3f5;
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-self: start;
    gap: 1rem;
    padding: 16px;
    border-top: 5px solid #1c7ed6;
    border-bottom: 5px solid #1c7ed6;
}

.online-grid .multiple-image img{
    width: 100%;
}

.multiple-image .text h4{
    margin-bottom: 1rem;
}

.online-container p{
    margin:8px 0 24px 0;
}

@media only screen and (max-width:600px){
    .online{
        
    }

    .online-grid{
        display: block;
    }

    .online-grid .multiple-image{
        display: none;
    }

    .online-grid .single-image iframe{
        width: 100%;
        height: 200px;
        margin-bottom: 24px;
    }

    .online-grid .single-image .text p{
        margin-bottom: 0;
    }
}

footer{
    padding: 16px 24px;
    background-color: #f1f3f5;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.terms li{
    display: inline-block;
    margin-right: 10px;
    
}
.terms li:last-child{
    margin: 0;
}

.terms li a{
    text-decoration: none;
    color: black;
}




















